img{
    width: 350px;
    height: 350px;
    margin: 5px 5px 5px 5px!important;
    padding: 5px 5px 5px 5px!important;
}
.customToolTip {
    top: 5px;
    left: 55%; 
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.btn-primary {
    margin: 5px 5px 5px 5px;
 }
 .container {
    margin: 5px 5px 5px 5px;
 }
 .inp-file {
    margin: 5px 5px 5px 5px;
 }
 .step {
     left: 15px!important;
     font-weight: 900!important;
 }