
<div class="container">
    <div class="row">
            <input class="col-sm-12 col-md-12 inp-file" type="file" (change)="onFileChanged($event)">
            <span class="col-sm-12 col-md-12 customToolTip" *ngIf="show">{{toolTip}}</span>
            <img #someVar src="{{imageSrc}}" *ngIf="imageSrc" (mousemove)="coordinates($event)" (click)="imageClick($event)" class="col-sm-12 col-md-12">     
    </div>
    <div class="row">
            <input  [(ngModel)]="toolTip">
            <button class="btn btn-primary" (click)="onUpload()">Submit</button>
    </div>
    <div class="row">
            <span class="col-sm col-xs-12 col-md-12 step">Steps:</span>
            <span class="col-sm col-xs-12 col-md-12 step">1)Choose .img file</span>
            <span class="col-sm col-xs-12 col-md-12 step">2)Click on image to set pointer</span>
            <span class="col-sm col-xs-12 col-md-12 step">3)Enter a tooltip</span>
            <span class="col-sm col-xs-12 col-md-12 step">4)Upload file</span>
            
        </div>
</div>
