
 
<div class="container">
 <div class="row">
    <button class="btn btn-primary" (click)="editImage('')">New item</button>
 </div>
  <div class="row">
   
    <div *ngIf="images">
      <div *ngFor="let image of images" >
        <div class="col-sm-12 col-md-3" style="overflow:hidden">
            <img [src]="image.img" (click)="editImage(image)">
        </div>       
      </div>
    </div>
  </div>
</div>
