img{
    width: 350px;
    height: 350px;
    margin: 5px 5px 5px 5px!important;
    padding: 5px 5px 5px 5px!important;
    overflow: hidden;
}
.btn-primary{
   left: 5%;
   top: 10%;
}
.container {
    top:15%;
}